.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.menu-header {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  margin: 0;
  padding: 50px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 8;
  border-radius: 5px 0 0 5px;
  transition-duration: 0.25s;
}

.menu li {
  display: flex;
  text-decoration: none;
  font-size: 0.875rem;
  color: #323232;
  align-items: flex-start;
  text-transform: uppercase;
  font-family: 'Montserrat', serif;
  font-weight: 500;
  padding: 0.625rem;

  cursor: pointer;
}

.menu-header li {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Montserrat', serif;
  text-transform: capitalize;
  transition-duration: 0.25s;
  &:hover {
    background-color: #858686;
  }
  & > span,
  & > span::before,
  & > span::after {
    transition-duration: 0.25s;
  }
}
