.menu {
  display: flex;
  list-style-type: none;
  max-width: 240px;
  flex-basis: 100%;
  justify-content: space-between;
}

.menu li {
  display: flex;
  text-decoration: none;
  font-size: 14px;
  color: #323232;
  align-items: flex-start;
  text-transform: uppercase;
  font-family: 'Montserrat', serif;
  font-weight: 500;
}

.header-li {
  & li {
    color: white;
  }
}
