.container {
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
}

.title {
  @media (max-width: 1000px) {
    align-self: center;
  }
  font-size: 3.25rem;
  letter-spacing: 0.125rem;
  color: #323232;
  font-family: 'Open-Sans', serif;
  font-weight: 300;
  text-transform: capitalize;
}

.items {
  @media (max-width: 1000px) {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 1000px;
  width: 100%;
  align-self: center;
}

.proposal {
  font-size: 1rem;
  color: #323232;
  font-family: 'Montserrat', serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5rem;
  align-self: center;
}

.subscription {
  display: flex;
  margin-top: 20px;
  align-self: center;
  max-width: 500px;
  width: 100%;
  & input {
    max-width: 326px;
    width: 100%;
    height: 2.5rem;
    background-color: #eeeeee;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #8b8b8b;
    font-family: 'Open-Sans', serif;
    font-weight: 400;
    padding: 0.9375rem;
    outline: none;
    border: none;
    text-transform: capitalize;
  }
  button {
    max-width: 152px;
    width: 100%;
    height: 2.5rem;
    background-color: #fd4f32;
    outline: none;
    border: none;
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    color: #ffffff;
    font-family: 'Open-Sans';
    font-weight: 700;
    text-transform: uppercase;
  }
}
