.banner {
  min-height: 600px;
  background-image: url('../../assets/images/background.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  font-size: 52px;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: 'Open Sans';
  font-weight: 300;
}
