.banner {
  @media (max-width: 1190px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9.375rem 2.188rem 3.125rem 2.188rem;
  }
  @media (max-width: 1190px) {
    min-height: 0;
  }
  min-height: 600px;
  background-image: url('../../assets/images/background.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 9.375rem 2.188rem;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
  }
}

.title {
  @media (max-width: 1190px) {
    margin-bottom: 1.875rem;
  }
  @media (max-width: 600px) {
    font-size: 2.375rem;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  font-size: 3.25rem;
  letter-spacing: 0.125rem;
  color: #ffffff;
  font-family: 'Open Sans';
  font-weight: 300;
  position: relative;
  z-index: 5;
}
