.container {
  max-width: 300px;
  flex-basis: 100%;
}

.title {
  font-size: 16px;
  color: #323232;
  font-family: 'Montserrat', serif;
  font-weight: 500;
  text-transform: uppercase;
}

.content {
  font-size: 15px;
  line-height: 22px;
  color: #8b8b8b;
  font-family: 'Open-Sans', serif;
  font-weight: 400;
  margin-top: 10px;
}
