.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 6;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
  flex-basis: 100%;
}

.title {
  font-size: 32px;
  letter-spacing: 1px;
  color: #f4f3ee;
  font-family: Open-Sans, serif;
  font-weight: 300;
}
