.footer {
  padding: 20px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy-right {
  font-size: 14px;
  line-height: 22px;
  color: #8b8b8b;
  font-family: 'Open-Sans', serif;
  font-weight: 400;
}
